$light-gray-1: #E4E4E4;
$light-gray-2: #D8D8D8;
$light-gray-3: #BeBeBe;

$off-white: #F4F4F4;
$off-black: #080808;

$border-radius: 4px;
$component-padding: 6px;

$primary-21: #aadbfa;
$primary-22: #8dcaef;
